{% if activity.data.pusher is not defined and activity.data.sender %}
    {% set user = activity.data.sender.login %}
    {% set gravatar = activity.data.sender.avatar_url %}
{% else %}
    {% set user = '' %}

{% endif %}
<div class="action">
    <ul>
        <li class="feed clearfix">
           <div class="author">
               <a href="https://github.com/{{ user }}">
                   <img class="avatar" width="33" src="{{ activity.data.sender.avatar_url }}" />
               </a>
           </div>
           <div class="message">
               {% if activity.message != '' %}
                   <strong>{{ activity.message }}</strong>
               {% endif %}
           </div>
           {% if activity.data.pusher.name is defined %}
               {% set gravatar = gravatar(activity.data.pusher.email, 30) %}
               {% set user = activity.data.pusher.name %}
           <div class="details">
               <a href="https://github.com/{{ activity.data.pusher.name }}">
               </a>
           </div>
           {% endif %}
           {% if activity.data['pull_request'] is not defined %}
           <ul class="commits">
               {% set commits = activity.data.commits is defined ? activity.data.commits : {0: activity.data.commit} %}
               {% for commit in commits %}
                   <li>
                       <span> <img height="16" class="avatar" src="{{ gravatar(commit.author.email) }}"> </span>
                       <a href="{{ commit.url }}"> {{ commit.id|truncate(7, false, '') }} </a>
                       {{ commit.message }}
                   </li>
               {% endfor %}
           </ul>
           {% endif %}
        </li>

    </ul>
</div>
