<div class="action">
    <ul>
        <li class="feed clearfix">
            <div class="author">
                <a href="#">
                    <img width="33" src="http://www.gravatar.com/avatar/5b37040e6200edb3c7f409e994076872?s=24&d=mm" />
                </a>
            </div>
            <div class="message">
                {{ activity.message }}
            </div>

            {% if activity.data['commits'] is defined %}
                <ul class="commits">
                    {% for commit in activity.data.commits %}
                        <span> <img height="16" src="{{ gravatar(commit.author.email, 16) }}"> </span>
                        <a href="{{ commit.url }}"> {{ commit.id| truncate(7, true, '') }} </a>
                        {{ commit.message }}
                    {% endfor %}
                    <li class="meta">
                        {{ activity.createdAt|localizeddate('medium', 'none', app.request.locale) }} - Gitlab
                    </li>
                </ul>
            {% endif %}
        </li>
    </ul>
</div>
