<div>
    <div>
        <fieldset>
            <legend>Account</legend>
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}

        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Social</legend>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.enabled) }}
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Social</legend>
            {{ form_row(form.skype) }}
            {{ form_row(form.linkedin) }}
            {{ form_row(form.viadeo) }}
            {{ form_row(form.twitter) }}
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
