<div>
    <div>
        <fieldset>
            <legend>Account</legend>
            {{ form_row(form.username) }}

            {% for email in form.emails %}
                {{ form_row(email) }}
            {% endfor %}

            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}

        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Social</legend>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Informations</legend>
            {{ form_row(form.skype) }}
            {{ form_row(form.linkedin) }}
            {{ form_row(form.viadeo) }}
            {{ form_row(form.twitter) }}
        </fieldset>
    </div>
</div>
{{ form_rest(form) }}
