{% extends "TempoAppBundle::layout.html.twig" %}

{% from 'TempoAppBundle:Macros:actions.html.twig' import create %}

{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li class=""> <a href="{{ path('admin') }}">{{ 'tempo.menu.admin'|trans  }}</a> </li>
            <li class="">{{ 'tempo.user.user'|trans }}</li>
            <li class="last">{{ 'tempo.user.create'|trans }}</li>
        </ol>
    {% endblock breadcrumb %}

<div class="col-md-2">
    {{ knp_menu_render('admin') }}
</div>

<div class="col-md-9">

    <form action="{{ path('admin_user_create') }}" method="post">
        <div class="page-header">
            <h1> {{ 'tempo.user.create.page_title'|trans|raw }}</h1>
        </div>
        {% include 'TempoAppBundle:Admin/User:_form.html.twig' %}
        {{ create() }}
    </form>
</div>

{% endblock %}
