{% extends "TempoAppBundle::layout.html.twig" %}

{% from 'TempoAppBundle:Macros:actions.html.twig' import update %}
{% import 'TempoAppBundle:Macros:buttons.html.twig' as buttons %}
{% block bodyClass %}admin users update{% endblock %}

{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li class=""> <a href="{{ path('admin') }}">{{ 'tempo.menu.admin'|trans  }}</a> </li>
            <li class="">{{ 'tempo.user.user'|trans }}</li>
            <li class="last">{{ 'tempo.user.create'|trans }}</li>
        </ol>
    {% endblock breadcrumb %}

<div class="page-header clearfix">
    <h1 class="pull-left"> {{ 'tempo.user.update.page_title'|trans}}</h1>
    <div class="pull-right">
        {{ buttons.delete(path('admin_user_delete', {'id': user.id}), null, user.id is sameas(app.user.id)) }}
    </div>
</div>

<div class="col-md-2">
    {{ knp_menu_render('admin') }}
</div>

<div class="col-md-9">
    <div class="app-panel">
        <form action="{{ path('admin_user_update', {'id': user.id}) }}" method="post">
            <input type="hidden" name="_method" value="PUT">
            {% include 'TempoAppBundle:Admin/User:_form.html.twig' %}
            {{ update() }}
        </form>
    </div>
</div>
{% endblock %}