<div class="mod-content clearfix">

    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'tempo.project.form.label.created'|trans }}:</dt>
                <dd>{{ project.createdAt|localizeddate('medium', 'none', app.request.locale) }} </dd>
            </dl>
            <dl>
                <dt>{{ 'tempo.project.form.label.updated'|trans }}:</dt>
                <dd>{{ project.updatedAt|localizeddate('medium', 'none', app.request.locale) }}</dd>
            </dl>
        </li>
    </ul>
    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'tempo.project.form.label.beginning'|trans }}:</dt>
                <dd>
                    {% if project.beginning is not null %}
                        {{ project.beginning|localizeddate('medium', 'none', app.request.locale) }}
                    {% endif %}
                </dd>
            </dl>
            <dl>
                <dt>{{ 'tempo.project.form.label.ending'|trans }}:</dt>
                <dd>
                    {% if project.beginning is not null %}
                        {{ project.ending|localizeddate('medium', 'none', app.request.locale) }}
                    {% endif %}
                </dd>
            </dl>
        </li>

    </ul>
    <div class="description">
        {{ project.description|raw }}
    </div>
</div>
