<div class="mod-head">
    <h3>Description </h3>
</div>
<div class="mod-content clearfix">

    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'tempo.project.form.label.created'|trans }}:</dt>
                <dd>{{ datetime_diff(project.createdAt) }} </dd>
            </dl>
            <dl>
                <dt>{{ 'tempo.project.form.label.updated'|trans }}:</dt>
                <dd>{{ datetime_diff(project.updatedAt) }}</dd>
            </dl>
        </li>
    </ul>
    <ul class="item-details col-md-6">
        <li>
            <dl>
                <dt>{{ 'tempo.project.form.label.beginning'|trans }}:</dt>
                <dd> {{ datetime_diff(project.beginning, null, false) }} </dd>
            </dl>
            <dl>
                <dt>{{ 'tempo.project.form.label.ending'|trans }}:</dt>
                <dd>{{ datetime_diff(project.ending, null, false) }}</dd>
            </dl>
        </li>

    </ul>
    <div class="description">
        {{ project.description|raw }}
    </div>
</div>