<table class="project-children table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>{{ 'tempo.project.form.label.code'|trans }}</th>
        <th>{{ 'tempo.project.form.label.status'|trans }}</th>
        <th>{{ 'tempo.project.form.label.name'|trans }}</th>
        <th>{{ 'tempo.project.form.label.beginning'|trans }}</th>
        <th>{{ 'tempo.project.form.label.ending'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for children in project.children %}
        <tr>
            <td>#{{ children.id }}</td>
            <td>{{ children.code }}</td>
            <td>
                {% if children.active %}
                    <span class="label label-default">{{ 'tempo.project.form.label.not_active'|trans }}</span>
                {% else %}
                    <span class="label label-success">{{ 'tempo.project.form.label.isactive'|trans }}</span>
                {% endif %}
            </td>
            <td><a href="{{ path('project_show', { 'slug' : children.fullSlug } ) }}">{{ children.name }}</a> </td>

            <td>
                {% if children.beginning is not null %}
                    {{ time_ago(children.beginning) }}
                {% endif %}
            </td>
            <td>
                {% if children.ending %}
                    {{ time_ago(children.ending) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>