<table class="project-children table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>{{ 'tempo.project.form.label.code'|trans }}</th>
        <th>{{ 'tempo.project.form.label.status'|trans }}</th>
        <th>{{ 'tempo.project.form.label.name'|trans }}</th>
        <th>{{ 'tempo.project.form.label.type'|trans }}</th>
        <th>{{ 'tempo.project.form.label.priority'|trans }}</th>
        <th>{{ 'tempo.project.form.label.advancement'|trans }}</th>
        <th>{{ 'tempo.project.form.label.beginning'|trans }}</th>
        <th>{{ 'tempo.project.form.label.ending'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for children in project.children %}
        <tr>
            <td>#{{ children.id }}</td>
            <td>{{ children.code }}</td>
            <td>
                {% if children.active %}
                    <span class="label label-default">Inactive</span>
                {% else %}
                    <span class="label label-success">Active</span>
                {% endif %}
            </td>
            <td><a href="{{ path('project_show', { 'slug' : children.slug } ) }}">{{ children.name }}</a> </td>
            <td>{{ children.type }}</td>

            <td>{{ children.priority }}</td>
            <td>{{ children.advancement }}%</td>
            <td>{{ children.beginning.format("Y-m-j") }}</td>
            <td>{{ children.ending.format("Y-m-j") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="delete_project" style="display: none">
    {{ 'tempo.project.msg_delete'|trans([], 'TempoProject') }}
</div>