{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block bodyClass %}project edit{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/views/ProjectView.js') }}"></script>
    <script>new Tempo.View.Project(); </script>
{% endblock %}

{% block body %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">Accueil</a> </li>
            <li> <a href="{{ path('project_home') }}">Project</a> </li>
            <li> <a href="{{ path('project_show', { 'slug': project.slug }) }}">{{ project.name }}</a> </li>
            <li class="last"> Edit </li>
        </ol>
    {% endblock breadcrumb %}

    <form action="{{ path('project_update', { 'slug': project.slug }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'TempoProjectBundle::Project/_form.html.twig' with {
            'form' : form,
            'page_title' : project.name
        } %}

        <div class="clearbox form_rest">
            <button type="submit" class="btn btn-primary">{{ 'form.save_changes'|trans }}</button>
        </div>
    </form>
{% endblock %}
