{% extends "TempoMainBundle::Layout/web.html.twig" %}
{% block javascripts %}

    {{ parent() }}
    {% javascripts
        '@TempoProjectBundle/Resources/public/js/model/TimesheetModel.js'
        '@TempoProjectBundle/Resources/public/js/collection/TimesheetCollection.js'
        '@TempoProjectBundle/Resources/public/js/views/timesheetView.js'
        '@TempoProjectBundle/Resources/public/js/controller/timesheetController.js'
        output="dashboard-timesheet.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        new Tempo.Controller.Timesheet();
    </script>
{% endblock %}

{% block bodyClass %}timesheet dashboard{% endblock %}

{% block content %}
    <div class="actions-filter">
        <ul class="actions">
            <li>
                <a href="#" class="filter"><span class="glyphicon glyphicon-filter"> </span></a>
                <div class="filter-content">
                    <form action="#" method="get">
                        {{ form_widget(filter) }}
                    </form>
                </div>
            </li>
            <li><a><span class="glyphicon glyphicon-th"> </span></a></li>
            <li class="actions dropdown">
                <a class="btn" data-toggle="dropdown" href="#">Actions</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li> <a href="{{ path('timesheet_export_pdf') }}" role="dialog" data-target="#" data-toggle="modal" data-title="Export PDF"><span class="glyphicon glyphicon-file"></span> Export PDF</a> </li>
                    <li> <a href="{{ path('timesheet_export_csv') }}" role="dialog" data-target="#" data-toggle="modal" data-title="Export CSV"><span class="glyphicon glyphicon-stats"></span> Export CSV</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="week-pagination">
            <li>
                <a data-toggle="tooltip"  href="?week={{ weekPagination.prev }}&year={{ weekPagination.year }}" class="btn" title data-original-title="{{ 'timesheets.last_week'|trans({}, 'TempoProject') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tooltip"  href="?week={{ weekPagination.next }}&year={{ weekPagination.year }}" class="btn" title data-original-title="{{ 'timesheets.next_week'|trans({}, 'TempoProject') }}">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <h1 id="page-title">
        <span class="glyphicon glyphicon-time"></span>
        {{ 'timesheets.page_title'|trans({}, 'TempoProject') }} - {{ 'timesheets.week'|trans({}, 'TempoProject') }} {{ weekPagination.current }}, {{ currentWeek|date('m/Y') }}
    </h1>

    <div>
        <table id="time-list">
            <colgroup>
                <col align="left">
                <col width="11%" id="col1">
                <col width="11%" id="col2">
                <col width="11%" id="col3">
                <col width="11%" id="col4">
                <col width="11%" id="col5">
                <col width="11%" id="col6">
                <col width="11%" id="col7">
            </colgroup>
            <thead>
            <tr class="header">
                <th class="first">Projets</th>
                {% for day in week %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
            <tr class="spacing">
                <th colspan="8"></th>
            </tr>
            </thead>
            <tbody>
            {% for proxy in proxiesProject %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td><a href="{{ path('project_show', {'slug': proxy.project.slug }) }}">{{ proxy.project.name }}</a></td>
                    {% for day in daysInWeek %}
                        <td>
                            <form action="{{ path('api_timesheet_create',{'project': proxy.project.id}) }}" method="post" class="parent-form" id="parent-form{{ loop.index }}">
                                <input type="text" maxlength="2" name="timesheet[workedTime]" class="cra_load" size="2" />
                                <input type="text" name="timesheet[description]" class="cra_desc" rel="form-cra-load-{{ day.format('Y-m-d')}}" />
                                <input type="text" name="timesheet[project]" class="cra_project" value="{{ proxy.project.id }}" style="display: none;" />
                                <input type="text" name="timesheet[workedDate]" class="cra_date" value="{{ day.format('Y-m-d')}}" style="display: none;" />
                                <input type="submit" style="display: none" value="{{ 'form.save'|trans }}" />
                            </form>

                            {% if proxy.getDay(day.format('j')) is not null %}
                                <div class="cra craid_{{ day.format('j') }}">
                                    <a data-title="Time tracking" data-toggle="modal" data-target="#" href="{{ path('timesheet_show', { 'date' : day.format('Y-m-d') }) }}">
                                        <span class="total"> total {{ proxy.getDay(day.format('d')).activities|length }}</span><br />
                                        <span class="hours">  {{ proxy.getDay(day.format('d')).time }}:00</span>
                                    </a>
                                </div>

                            {% else %}
                                <span class="cra">&nbsp; </span>
                            {% endif %}

                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
