<div class="event">
    <time  datetime="2013-11-14T09:45:16Z" title="2013-11-14 09:45:16">
        {{ time_ago(activity.createdAt) }}
    </time>
</div>
<div class="feed user cleafix">
    <div class="details">
        <a href="{{ path('user_profile_show', {'slug': activity.author.slug }) }}">
            <img height="33" src="{{ activity.author.avatar }}">
        </a>
    </div>
    <div class="message">
        <a href="{{ path('user_profile_show', {'slug': activity.author.slug }) }}">{{ activity.author.fullName }}</a>
        {{ activity.action|trans({'%name%' : '<a href="'~path('project_show', activity.fullSlug)~'">'~ activity.data.name ~ '</a>' })|raw }}
    </div>
</div>
