{% trans_default_domain 'TempoAppBundle' %}

<div class="col-md-10">

    <div class="app-panel infos">
        {{ form_errors(form) }}

        <fieldset class="fieldset-block col-md-6">

            {{ form_row(form.name) }}

            {{ form_row(form.code) }}

            {{ form_row(form.beginning) }}

            {{ form_row(form.ending) }}
        </fieldset>

        <div class="clearbox"></div>
    </div>
    <div class="wysiwyg clearbox">
        {{ form_widget(form.description) }}

    </div>
</div>
<div class="col-md-2">
    <div class="app-panel collapse-panel">
        <div title="Click to toggle" class="handlediv"><span class="glyphicon glyphicon-chevron-up"></span> </div>
        <h3>Publish</h3>
            <div class="inside clearfix">
                <div>
                    {{ form_row(form.active) }}
                </div>
            </div>
    </div>
    <div class="app-panel collapse-panel">
        <div title="Click to toggle" class="handlediv"><span class="glyphicon glyphicon-chevron-up"></span> </div>
        <h3>Project Attributes</h3>
        <div class="inside clearfix">
            <div>
                {{ form_row(form.type) }}

            </div>
        </div>
    </div>

</div>
{{form_rest(form)}}