{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project new{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/views/projectView.js') }}"></script>
  <script>new Tempo.View.Project(); </script>
{% endblock %}

{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li> <a href="{{ path('project_home') }}">Project</a> </li>
            <li class="last"> new </li>
        </ol>
    {% endblock breadcrumb %}
    <form id="project_form" name="project_form" action="{{ path('project_create', {'organization': organization.slug }) }}{% if form.vars.value.parent.id is defined %}?parent={{ form.vars.value.parent.id }}{% endif %}" method="post" {{ form_enctype(form) }}>
        {% include 'TempoAppBundle::Project/_form.html.twig' with {
           'form' : form,
           'page_title' :  'tempo.project.title.add'|trans
        } %}

        <div class="clearbox form_rest">
            <button type="submit" class="btn btn-primary">{{ 'tempo.form.new'|trans }}</button>
            <button type="reset" class="btn btn-default">{{ 'tempo.form.reseat'|trans }}</button>
        </div>
    </form>

{% endblock %}
