{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@TempoAppBundle/Resources/assets/js/views/projectView.js'
        output="js/project-update.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>new Tempo.View.Project(); </script>
{% endblock %}

{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li> <a href="{{ path('project_home') }}">Project</a> </li>
            <li class="last"> new </li>
        </ol>
    {% endblock breadcrumb %}
    <form id="project_form" name="project_form" action="{{ path('project_create', {'organization': organization.slug }) }}{% if form.vars.value.parent.id is defined %}?parent={{ form.vars.value.parent.id }}{% endif %}" method="post" {{ form_enctype(form) }}>
        {% include 'TempoAppBundle::Project/_form.html.twig' with {
           'form' : form,
           'page_title' :  'tempo.project.title_add'|trans
        } %}

        <div class="clearbox form_rest">
            <button type="submit" class="btn btn-primary">{{ 'tempo.form.create'|trans }}</button>
            <button type="reset" class="btn btn-default">{{ 'tempo.form.reset'|trans }}</button>
        </div>
    </form>

{% endblock %}
