{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project dashboard{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {% javascripts
  '@TempoAppBundle/Resources/assets/js/views/project-list-view.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
{% block container %}

    {% block content %}
        <div class="container">

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('organization_create') }}" class="pull-right btn btn-primary btn-sm">{{ 'tempo.organization.add' |trans }}</a>
            {% endif %}


            <div class="list-organizations">
                <div>
                    {% for organization in organizations %}

                    <section class="organization">
                        <h3>
                            <a class="avatar" href="{{ path('organization_show', { 'slug' : organization.slug } ) }}">
                                <img class="leaderboard-gravatar js-avatar" src="{{ organization.avatar }}" width="25" heigh="25">
                                {{ organization.name }}
                            </a>
                        </h3>
                        <ul class="projects">
                            {% for project in organization.projects %}
                            <li>
                                <a href="{{ path('project_show', {'slug': project.fullSlug}) }}">{{ project.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>

                    </section>

                    {% else %}
                           <section> <div class="app-panel">{{ 'tempo.organization.not_found_orga'|trans }}.</div></section>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
