{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project dashboard{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {% javascripts
  '../client/js/src/views/project-list-view.js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
{% block container %}

    {% block content %}

        {% block breadcrumb %}
            <div class="head clearfix">
                <ol id="breadcrumb" class="clearfix">
                    <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a></li>
                    <li> <a href="{{ path('project_home') }}"> {{ 'tempo.menu.project'|trans  }}</a> </li>
                    <li class="last"> Dashboard </li>
                </ol>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('organization_create') }}" class="pull-right btn btn-primary btn-sm">{{ 'tempo.organization.add' |trans }}</a>
                {% endif %}

            </div>
        {% endblock breadcrumb %}

        <div class="list-project col-md-8 ">

        </div>
        <div class="list-organizations col-md-4 app-panel">
            <div id="choose-organization" class="clearfix">
                <p class="first"> {{ 'tempo.organization.select'|trans }} <span> ↓ </span> </p>

            </div>
            <ul>
                {% for organization in organizations %}

                <li class="clearfix">
                    <a class="avatar" href="{{ path('organization_show', { 'slug' : organization.slug } ) }}">
                        <img class="leaderboard-gravatar js-avatar" height="96" src="{{ organization.avatar }}" width="96">
                    </a>
                    <div class="board">
                        <h2 class="name">
                          <a onclick="return false;" href="{{ path('project_organization_list', { 'slug' : organization.slug } ) }}">{{ organization.name }}</a>
                        </h2>
                    </div>

                </li>

                {% else %}
                       <li> <div class="app-panel">{{ 'tempo.organization.not_found_orga'|trans }}.</div></li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
{% endblock %}
