{% block content %}
<div class="col-md-3">
    <a class="create-project btn btn-primary btn-sm" href="{{ path('project_create', { 'organization' : organization.slug }) }}">
        {{ 'tempo.project.add'|trans }}
    </a>
    <div class="hidden-sm hidden-xs side-filters">
        <fieldset>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="?scope=&amp;sort=">All</a>
                </li>
                <li class="">
                    <a href="?scope=joined&amp;sort=">Joined</a>
                </li>
                <li class="">
                    <a href="?scope=owned&amp;sort=">Owned</a>
                </li>
            </ul>
        </fieldset>
    </div>
</div>
<div class="col-md-9">
    <ul>
        {% for project in projects %}
        <li class="project">
            <h4>
                <span class="ion-cube"></span>
                <a href="{{ path('project_show', { 'slug' : project.fullSlug } ) }}">{{ project.name }}</a>
            </h4>
            <div class="last-activity">
                <span class="light">Last activity:</span>
                <span class="date">
                    <time class="last_activity" data-placement="bottom" data-toggle="tooltip" datetime="{{ project.lastActivity|date('Y-m-dTH:i:sP')}}" >
                        {{ project.lastActivity|localizeddate('medium', 'none', app.request.locale ) }}
                    </time>
                </span>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
