    {% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}project show{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@TempoAppBundle/Resources/assets/js/views/CommentView.js'
    output="js/project.js" filter="?uglifyjs"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block container %}
{% block breadcrumb %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
        <li><a href="{{ path('project_home') }}">{{ 'tempo.menu.project'|trans }}</a></li>
        <li><a href="{{ path('organization_show', {'slug' : organization.slug }) }}">{{ organization }}</a></li>

        {% if project.parent %}
            <li>
                <a href="{{ path('organization_show', {'slug' : organization.slug }) }}">{{ 'tempo.project.sub_project'|trans }} {{ project.parent }}</a>
            </li>
        {% endif %}
        <li class="last"> {{ project.name }} </li>
    </ol>
{% endblock breadcrumb %}

<div class="col-md-8 infos">
    <div class="app-panel">

        <h1 id="page-title" class="col-md-6">
            {{ project.name }} <br />

            {% if project.code is not null %}
            <small class="label label-default">
                {{ project.code }}
            </small>
            {% endif %}
        </h1>

        <div class="col-md-4">
            {% if is_granted('EDIT', organization) %}
            <a class="btn btn-xs btn-primary" href="{{ path('project_create', { 'parent' : project.id, 'organization': organization.slug }) }}"> <span class="glyphicon glyphicon-plus"></span> {{ 'tempo.project.title_subprojects'|trans }}</a>
            {% endif %}
            {% if is_granted('EDIT', project) %}
            <a class="btn btn-xs btn-info " href="{{ path('project_update', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
            {% endif %}
            {% if is_granted('EDIT', project) %}
                <a class="btn btn-xs btn-primary" href="{{ path('project_settings', { 'slug': project.slug }) }}"> <span class="glyphicon glyphicon-cog"></span> {{ 'tempo.project.settings'|trans }} </a>
            {% endif %}
            {% if is_granted('DELETE', project) %}
            <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#" data-title="Delete project" href="#delete_project"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="project-tab">
                    <li class="active"><a href="#tab-project">Project</a></li>
                    <li><a href="#tab-sub-project">Sub-Projects</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-project">
                        {% include 'TempoAppBundle:Project/Tabs:project.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab-sub-project">
                        {% include 'TempoAppBundle:Project/Tabs:subproject.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="commentaires-list">
        {{ render(url('comment_list', {
            'type': 'project',
            'parent' : project.id,
            'page': page,
        }))}}
    </div>
</div>
<div class="col-md-4">
    <div class="record_actions">

        <h4 class="pull-left">{{ 'tempo.organization.team'|trans }} </h4>

        <a data-toggle="modal" data-target="#" data-title="Adding a team member" href="#add_membre" class="add-member pull-right btn btn-xs btn-info"> <span class="glyphicon glyphicon-plus"></span> {{ 'tempo.project.add_membre'|trans }}</a>

        <div id="add_membre" style="display: none;">
            {% include 'TempoAppBundle:Team:new.html.twig' with {'form': teamForm, 'category': project, 'route_category' : 'project_team_add' } %}
        </div>
        <div class="app-panel clearbox">
            <div class="list_membre">
                {% include 'TempoAppBundle:Team:list.html.twig' with {
                    'route_deleted' :'project_team_delete',
                    'users': project.members,
                    'category': project
                } %}
            </div>
        </div>

        <h4 class="pull-left">{{ 'tempo.project.activity'|trans }} </h4>

        <div class="app-panel clearbox">
            {{ render(controller('TempoAppBundle:Activity:list', {'type': 'project', 'parent': project})) }}
        </div>
    </div>
</div>
{% endblock %}
