<h1>{{ 'tempo.project.services.description'|trans }}</h1>
<div class="container-provider">
    <div class="app-panel">
        <p>{{ 'tempo.project.services.description'|trans }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Service</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for provider in providers %}
                <tr>
                    <td> <span class="glyphicon glyphicon-off clgray"></span></td>
                    <td><a data-toggle="modal" role="dialog" data-target="#" data-title="{{ provider.name }} provider" href="{{ path('project_provider_update', { 'slug': slug, 'provider': provider.name } ) }}">{{ provider.name }}</a></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>