{% extends 'TempoMainBundle:layout.html.twig' %}

{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li> <a href="{{ path('backend') }}">{{ 'tempo.menu.admin'|trans  }}</a> </li>
            <li class="last"> Dashboard </li>
        </ol>
    {% endblock breadcrumb %}

    <div class="app-panel class-md-8 center-block">
        {{ form_errors(form) }}

        <form class="form-block" method="post" action="{{ path('backend_configuration_generale') }}">
            <div id="settings">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
            </div>
        </form>
    </div>


{% endblock %}