{% macro show(url, message) %}
<a href="{{ url }}" class="btn btn-default btn btn-sm">
   <i class="glyphicon glyphicon-book"></i> <span>{{ message is empty ? 'tempo.form.show'|trans : message }}</span>
</a>
{% endmacro %}

{% macro create(url, message) %}
<a href="{{ url }}" class="btn-primary btn btn-sm">
    <i class="glyphicon glyphicon-plus-sign"></i> <span>{{ message is empty ? 'tempo.form.create'|trans : message }}</span>
</a>
{% endmacro %}

{% macro edit(url, message) %}
<a href="{{ url }}" class="btn-primary btn btn-sm">
    <i class="glyphicon glyphicon-pencil"></i> <span>{{ message is empty ? 'tempo.form.edit'|trans : message }}</span>
</a>
{% endmacro %}

{% macro delete(url, message, disabled=false, modal=true) %}
{% if disabled %}
<span class="btn btn-danger disabled btn-sm ">
    <i class="glyphicon glyphicon-trash"></i> <span>{{ message is empty ? 'tempo.form.delete'|trans : message }}</span>
</span>
{% else %}
<form action="{{ url }}" method="post" class="delete-action-form" novalidate>
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-sm btn-danger{% if modal %} btn-confirm{% endif %}" type="submit">
        <i class="glyphicon glyphicon-trash"></i> <span>{{ message is empty ? 'tempo.form.delete'|trans : message }}</span>
    </button>
</form>
{% endif %}
{% endmacro %}

{% macro manage(url, message) %}
<a href="{{ url }}" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-folder-open"></i> <span>{{ message is empty ? 'tempo.form.manage'|trans : message }}</span>
</a>
{% endmacro %}
