{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}user profile edit{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@TempoAppBundle/Resources/assets/js/views/user.js'
    output="js/user.js" filter="?uglifyjs2"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        new Tempo.View.User();
    </script>
{% endblock %}
{% block container %}

    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"><a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans }}</a></li>
            <li><a href="{{ path('user_profile_edit') }}">{{ 'tempo.profile.title'|trans }}</a></li>
            <li class="last">{{ 'tempo.profile.tabs.edit'|trans }}</li>
        </ol>
    {% endblock breadcrumb %}

    <div class="container-panel">

        {% include "TempoAppBundle:Profile:_tabs.html.twig" %}
        <div class="page-header">
            <h1>{{ 'tempo.profile.tabs.edit'|trans }}</h1>
        </div>
        <div class="col-md-8">
            <form action="{{ path('user_profile_update') }}" method="POST" class="user_profile_edit">
                <div class="app-panel">
                    <fieldset>
                        {{ form_row(form.email) }}
                    </fieldset>

                    <fieldset>
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                    </fieldset>

                    <fieldset id="phone-prototype" data-prototype="{{ form_widget(form.phones.vars.prototype) | e }}">
                        {{ form_label(form.phones) }}
                        <a class="add-phone" href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        {{ form_widget(form.phones) }}
                    </fieldset>
                    
                    <fieldset>
                        {{ form_row(form.company) }}
                        {{ form_row(form.jobTitle) }}
                    </fieldset>
                    <div class="form-rest">
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary btn-sm" value="{{ 'tempo.form.save_changes'|trans }}"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
