{% extends "TempoAppBundle::layout.html.twig" %}

{% block bodyClass %}user profile password{% endblock %}

{% block container %}

    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans }}</a> </li>
            <li > <a href="{{ path('user_profile_edit') }}">Profile</a> </li>
            <li class="last">{{ 'tempo.profile.change_password'|trans }}</li>
        </ol>
    {% endblock breadcrumb %}


    <div class="container-panel">
        {% include "TempoAppBundle:Profile:_tabs.html.twig" %}

        <div class="page-header">
            <h1>{{ 'tempo.profile.change_password'|trans }}</h1>
        </div>

        <div class="col-md-8 app-panel">

            <form action="{{ path('user_profile_password') }}" method="POST">
                <div class="clearbox">
                    {{ form_widget(form) }}
                </div>
                <div class="form-rest">
                    {{ form_rest(form) }}
                    <input type="submit" value="{{ 'tempo.form.update'|trans }}"  class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock container %}
