{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}organization create{% endblock %}

{% block container %}
    <div class="container">
        <h1 id="page-title">{{ 'tempo.organization.create'|trans }}</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="{{ path('organization_create') }}" method="post" class="organization-add clearfix">

                            {{ form_row(form.name) }}

                            <div class="form-group">
                                {{ form_label(form.contact) }}

                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">@</span>
                                    {{ form_widget(form.contact) }}
                                </div>
                            </div>

                            <div class="rest clearbox">
                                {{ form_rest(form) }}
                                <button type="submit" class="submit btn btn-primary fantomas">{{ 'tempo.form.save'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ 'tempo.organization.title'|trans }}</h3>
                    </div>
                    <div class="panel-body">

                        <ul class="features-list no-list">
                            <li><span class="glyphicon glyphicon-ok"></span>{{ 'tempo.organization.project_management'|trans }}</li>
                            <li><span class="glyphicon glyphicon-ok"></span>{{ 'tempo.organization.permissions'|trans }}</li>
                            <li><span class="glyphicon glyphicon-ok"></span>{{ 'tempo.organization.focused_dashboard'|trans }}</li>
                        </ul>

                        <hr>

                        <h3>{{ 'tempo.organization.managed_admins'|trans }}</h3>
                        <p>{{ 'tempo.organization.managed_admins_msg'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
