{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}organization show{% endblock %}
{% block container %}
    <ol id="breadcrumb" class="clearfix">
        <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
        <li><a href="{{ path('project_dashboard') }}">{{ 'tempo.menu.organization'|trans }}</a></li>
        <li>{{ organization }}</li>
    </ol>

<div class="col-md-8 app-panel">
    <h1 id="page-title" class="col-md-6">
        <img src="{{ avatar(organization.avatar, 52) }}" />
        {{ organization.name }}
    </h1>

    <div class="action col-md-6">
        {% if is_granted('EDIT', organization) %}
        <a href="{{ path('project_create', { 'organization' : organization.slug }) }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'tempo.project.add'|trans }} </a>
        <a class="btn btn-xs btn btn-info" href="{{ path('organization_update', { 'slug' : organization.slug }) }}"> <span class="glyphicon glyphicon-edit"></span> {{ 'tempo.project.edit'|trans }}</a>
        {% endif %}
        {% if is_granted('DELETE', organization) %}
            <a class="btn btn-xs btn-danger" role="dialog" data-toggle="modal" data-target="#delete-organization" data-title="{{ 'tempo.organization.title_delete'|trans }}" href="{{ path('organization_delete', { 'slug': organization.slug, 'token' : token }) }}">
                <span class="glyphicon glyphicon-trash"></span>
                {{ 'tempo.project.delete'|trans }}
            </a>
        {% endif %}
    </div>

    <div class="infos clearfix">
        <ul class="col-md-6">
            <li> <strong>{{ 'tempo.organization.email_contact'|trans }}</strong>
                {% if organization.contact is empty %}
                    {{ 'tempo.organization.undefined_info'|trans }}
                {% else %}
                <a href="mailto:{{ organization.contact }}">{{ organization.contact }}</a>
                {% endif %}
            </li>
            <li> <strong>{{ 'tempo.organization.web_site'|trans }}</strong>
            {% if organization.website is empty %}
                {{ 'tempo.organization.undefined_info'|trans }}
            {% else %}
                <a href="{{ organization.website }}">{{ organization.website }}</a>
            {% endif %}<li>
        </ul>
        <ul class="col-md-6">
            <li>
                <strong class="nbr-project">{{ 'tempo.project.nbr_project' |trans }}</strong>
                <div style="height: 30px; margin-top: 10px">
                    <span class="label label-success">{{ counter.open }} {{ 'tempo.project.open'|trans }} </span> <br />
                </div>
                <div style="height: 30px;">
                    <span class="label label-default">{{ counter.close }} {{ 'tempo.project.close'|trans }}   </span>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="col-md-4 member-box">
    {%  include 'TempoAppBundle::Organization/_sidebar.html.twig' with { 'teamForm': teamForm, 'organization': organization } %}
</div>

<div id="organization-list-project" class="app-panel clearfix col-md-8">
    <h3>{{ 'tempo.project.list.title'|trans }}</h3>

    <ul class="list-project">
    {% for project in projects %}
        <li>
            <img class="avatar" src="{{ 'bundles/tempoapp/images/default-icon-project.png' | imagine_filter('project_thumb') }}" />
            <div class="board">
                <h4><a href="{{ path('project_show', { 'slug' :  project.fullSlug } ) }}">{{ project.name }} </a></h4>
                {% if project.parent is not null %}<span>{{ 'tempo.project.sub_project'|trans }} {{ project.parent.name }}</span>{% endif %}
                <p class="project-updated">
                    Updated {{ time_ago(project.updatedAt) }}
                </p>
            </div>
        </li>
    {% else %}
        <p>
            {{ 'tempo.organization.not_found_project'|trans }}
            {% if is_granted('EDIT', organization) %}
            <br />
                <a href="{{ path('project_create', { 'organization' : organization.slug }) }}" class="btn btn-xs btn-primary"> {{ 'tempo.project.add'|trans }} </a>
            {% endif %}
        </p>
    {% endfor %}
    </ul>

</div>

<div id="delete-organization" style="display: none">
    {{ 'tempo.organization.msg_delete'|trans }}
</div>

{% endblock %}
