{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}organization show{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tempoproject/js/views/organizationView.js')}}"></script>
{% endblock %}

{% block container %}
    {% block breadcrumb %}
        {{ parent() }}
    {% endblock breadcrumb %}

<div class="col-md-8 app-panel">
    <h1 id="page-title" class="col-md-7"> {{ organization.name }} </h1>

    <div class="action col-md-4">
        {% if is_granted('EDIT', organization) %}
        <a href="{{ path('project_create', { 'organization' : organization.slug }) }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'tempo.project.add'|trans }} </a>
        <a class="btn btn-xs btn btn-info" href="{{ path('organization_update', { 'slug' : organization.slug }) }}"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
        {% endif %}
        {% if is_granted('DELETE', organization) %}
        <a class="btn btn-xs btn-danger" role="dialog" data-toggle="modal" data-target="#" data-title="Delete project" href="#delete-organization" data-redirect="{{ path('organization_delete', { 'slug': organization.slug, 'token' : token }) }}"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
        {% endif %}
    </div>

    <div class="infos clearfix">
        <ul class="col-md-6">
            <li> <strong>{{ 'tempo.organization.email_contact'|trans }}</strong>
                {% if organization.contact is empty %}
                    {{ 'tempo.organization.undefined_info'|trans }}
                {% else %}
                <a href="mailto:{{ organization.contact }}">{{ organization.contact }}</a>
                {% endif %}
            </li>
            <li> <strong>{{ 'tempo.organization.web_site'|trans }}</strong>
            {% if organization.website is empty %}
                {{ 'tempo.organization.undefined_info'|trans }}
            {% else %}
                <a href="{{ organization.website }}">{{ organization.website }}</a>
            {% endif %}<li>
        </ul>
        <ul class="col-md-6">
            <li>
                <strong class="nbr-project">{{ 'tempo.project.nbr_project' |trans }}</strong>
                <div style="height: 30px; margin-top: 10px">
                    <span class="label label-success">{{ counter.open }} {{ 'tempo.project.open'|trans }} </span> <br />
                </div>
                <div style="height: 30px;">
                    <span class="label label-default">{{ counter.close }} {{ 'tempo.project.close'|trans }}   </span>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="col-md-4 member-box">
    {%  include 'TempoAppBundle::Organization/_sidebar.html.twig' with { 'teamForm': teamForm, 'organization': organization } %}
</div>

<div id="organization-list-project" class="app-panel clearfix col-md-8">
    <h3>{{ 'tempo.project.label_list'|trans }}</h3>

    <ul class="list-project">
    {% for project in projects %}
        <li>
            <img class="avatar" src="{{ 'bundles/tempomain/images/default-icon-project.png' | imagine_filter('project_thumb') }}" />
            <div class="board">
                <h4><a href="{{ path('project_show', { 'slug' :  project.slug } ) }}">{{ project.name }} </a></h4>
                <p class="project-updated">
                    Updated <time data-title-format="YYYY-MM-DD HH:mm:ss" datetime="{{ project.updatedAt.format('YYYY-MM-DD') }}" title="{{ project.updatedAt.format('YYYY-MM-DD') }}">{{ datetime_diff(project.updatedAt) }}</time>
                </p>
            </div>
        </li>
    {% else %}
        <p>{{ 'tempo.organization.not_found_project'|trans }}.</p>
    {% endfor %}
    </ul>

</div>

<div id="delete-organization" style="display: none">
    {{ 'tempo.organization.msg_delete'|trans }}
</div>

{% endblock %}