{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}organization edit{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@TempoAppBundle/Resources/assets/js/views/organizationView.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}
    {% block breadcrumb %}
        {{ parent() }}
    {% endblock breadcrumb %}

    <div class="col-md-8">
        <div class="app-panel">
            <h1 id="page-title">{{ organization.name  }}</h1>

            <form action="{{ path('organization_update', { 'id': organization.id }) }}" method="post" class="clearfix">
                <div class="form-block clearfix">
                    {{ form_widget(form) }}
                </div>

                <div class="rest">
                    <input type="submit" class="submit btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="app-panel">
            {%  include 'TempoAppBundle::Organization/_sidebar.html.twig' with { 'teamForm': teamForm, 'organization': organization } %}
        </div>
    </div>


{% endblock container %}


