{% extends 'TempoAppBundle::layout.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block bodyClass %}home dashboard {% endblock %}
{% block container %}
    <div class="col-md-6" id="activity-box">
        <h3 class="homeTitle">
            <span class="glyphicon glyphicon-random"></span>
            {{ 'tempo.activity.dashboard.title'|trans }}
        </h3>

        <div id="list-activity-box">
            {{ render(controller('TempoAppBundle:Activity:list', {'parentRequest': app.request})) }}
        </div>

    </div>
    <div class="col-md-6" id="chat-box" data-currentroom="{% if currentRoom %}{{ currentRoom.id }}{% endif %}">
        {% if currentRoom %}
        <nav class="rooms">
            <ul class="clearfix">
                {% for room in rooms %}
                    <li class="{% if room.id == currentRoom.id %}current{% endif %}"><a href="?currentRoom={{ room.id }}">#{{ room.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div id="chatbox">
            <div class="loader">
                <img src="{{ asset('bundles/tempoapp/images/loading-bubbles.svg') }}" width="64" height="64">
            </div>
        </div>
        {% else %}
        <div class="no-rooms">
            <p>{{ 'tempo.room.no_room'|trans }}</p>
            <div class="room-add">
                <a href="#" id="create-room"><span class="ion-plus"></span> {{ 'tempo.room.create'|trans }}</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
