{% extends 'TempoAppBundle::layout.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@TempoAppBundle/Resources/assets/js/model/message.js'
        '@TempoAppBundle/Resources/assets/js/model/room.js'
        '@TempoAppBundle/Resources/assets/js/collection/message.js'
        '@TempoAppBundle/Resources/assets/js/views/chatBox.js'
        '@TempoAppBundle/Resources/assets/js/views/message.js'
        '@TempoAppBundle/Resources/assets/js/views/connectedUsers.js'
        '@TempoAppBundle/Resources/assets/js/views/room.js'        
        '@TempoAppBundle/Resources/assets/js/controllers/dashboard.js'
        output="js/dashboard.js" filter="?uglifyjs2"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="application/javascript">
        {% if currentRoom is not null %}
        Tempo.Controller.Dashboard.room = new Tempo.Model.Room({{ currentRoom| serialize | raw }}, {parse:true});
        {% endif %}

        Tempo.Controller.Dashboard.user = {{ currentUser| raw }};
        Tempo.Controller.Dashboard.load();
    </script>
{% endblock %}

{% block bodyClass %}home dashboard {% endblock %}
{% block container %}
    <div class="col-md-6" id="activity-box">
        <h3 class="homeTitle">
            <span class="glyphicon glyphicon-random"></span>
            {{ 'tempo.activity.dashboard.title'|trans }}
        </h3>

        <div id="room-activity-box" class="dashboard-{{ app.user.id }}">
            {{ render(controller('TempoAppBundle:Activity:list', {'parentRequest': app.request})) }}
        </div>

    </div>
    <div class="col-md-6" id="chat-box">
        {% if currentRoom %}
        <nav class="rooms">
            <ul class="clearfix">
                {% for room in rooms %}
                    <li class="{% if room.id == currentRoom.id %}current{% endif %}"><a href="?currentRoom={{ room.id }}">#{{ room.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div id="chatbox">
            <div class="loader">
                <img src="{{ asset('bundles/tempoapp/images/loading-bubbles.svg') }}" width="64" height="64">
            </div>
        </div>
        {% else %}
        <div class="no-rooms">
            <p>{{ 'tempo.room.no_room'|trans }}</p>
            <a href=""><span class="ion-plus"></span> {{'tempo.user.create_room'|trans}}</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
