<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% stylesheets
        '@TempoAppBundle/Resources/assets/styles/style.less'
        filter='less, ?cssrewrite,?uglifycss' debug=true
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% for stylesheet in behavior.resource.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}" />
    {% endfor %}

    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"  />
    <title>{% block title %}{{ 'Welcome'|trans }}{% endblock %} - Tempo</title>
</head>
<body class="no-js {{ get_browser() }} {% block bodyClass %}{% endblock %}">
{% block body %}
<div id="glob">
        <header id="header" class="navbar" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">{{ sylius_settings_get('general.name') }} </a>
                </div>
                <div class="head-inner navbar-collapse bs-navbar-collapse collapse">
                    <div id="search">
                        <form method="get" action="/search/index/">
                            <label label-default="label-default" for="q"> <a accesskey="4" href="#">{{ 'header.search'|trans }}  </a> :</label>
                            <input  type="text" size="20" name="q" id="q" class="form-control small" accesskey="f" />
                            <button type="submit" class="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                    <nav role="navigation">
                        {{ knp_menu_render('main') }}
                        <ul id="user-menu" class="nav navbar-nav navbar-right">

                            {% set notifications_indicator = user_notifications(app.user.id) %}
                            <li class="notifications">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    <span class="glyphicon glyphicon-bell"></span>
                                    {% if notifications_indicator|length >0 %}
                                    <span class="indicator">
                                        <span>{{ notifications_indicator|length }}</span>
                                    </span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for notification in notifications_indicator %}
                                        <li>
                                        <a href="{{ path('notification_dashboard') }}">
                                            {{ notification.message| truncate(30, true, '...') }}
                                            <span class="text-muted small">{{ notification.createdAt|localizeddate('short', 'none', app.request.locale) }}</span>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ path('notification_dashboard') }}">No Notifications</a></li>
                                    {% endfor %}
                                    <li class="all">
                                        <div class="text-center link-block">
                                            <a href="{{ path('notification_dashboard') }}">
                                                <strong>{{ 'tempo.notification.see_all'|trans }}</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="avatar">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    <img src=" {{ app.user.avatar(24) }}" alt="Avatar" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ 'tempo.user.profile'|trans }}</a> </li>
                                    <li><a href="{{ path('user_profile_settings') }}"><span class="glyphicon glyphicon-cog"></span> {{ 'tempo.user.settings'|trans }}</a> </li>
                                    <li><a href="{{ path('user_logout') }}"> <span class="glyphicon glyphicon-log-out"></span> {{ 'tempo.user.logout'|trans }} </a> </li>
                                    <li role="presentation" class="divider"></li>
                                    <li> <a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="content" class="container-fluid">
            <div class="row">
                {% block container %}
                {% block breadcrumb %}
                {% endblock breadcrumb %}
                <div id="child-content" class="col-md-12">
                    {% block content %}  {% endblock %}
                </div>

            </div>
            {% endblock container %}
        </div>

    </div>
    <div class="flash-container" style="display: none;">
        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'notice', 'error'] %}
                {% for flash in flashes %}
                    <div class="flash-message flash-{{ name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
    <div id="dialog">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="confirm btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    {% block javascripts %}
        {% javascripts
            'vendor/socket.io-client/socket.io.js'
            'vendor/jquery/dist/jquery.js'
            'vendor/jquery-ui/ui/jquery-ui.js'
            'vendor/bootstrap/dist/js/bootstrap.min.js'
            'vendor/tinycon/tinycon.min.js'
            'vendor/moment/moment.js'
            'vendor/modernizr/modernizr.js'
            'vendor/underscore/underscore.js'
            'vendor/blueimp-md5/js/md5.js'
            'vendor/backbone/backbone.js'
            '@BazingaJsTranslationBundle/Resources/js/translator.js'
            '@FOSJsRoutingBundle/Resources/public/js/router.js'
            'vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js'
            'vendor/selectize/dist/js/standalone/selectize.min.js'
            '@TempoAppBundle/Resources/assets/js/routerManager.js'
            '@TempoAppBundle/Resources/assets/js/app.js'
            '@TempoAppBundle/Resources/assets/js/behavior.js'
            filter="?uglifyjs"
            output="js/main.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% for javascript in behavior.resource.javascripts %}
            <script type="text/javascript" src="{{ javascript }}"></script>
        {% endfor %}
        {{ behavior.renderHTML|raw }}
    {% endblock %}

{% endblock body %}
</body>
</html>
