{% extends "TempoAppBundle:Security:login.html.twig" %}
{% block subcontent %}
    <div>
        <div class="form-error">
            {{ form_errors(form) }}
        </div>

        <form action="{{ path("user_resetting_check_email", {'token' : token}) }}" method="post">
            <div class="widget password">
                {{ form_widget(form.plainPassword) }}
            </div>

            <div class="widget send col-md-6 pull-right">
                <input id="login" class="submit btn btn-default" type="submit" value="{{ 'tempo.form.submit'|trans }}"/>
                {{ form_rest(form) }}
            </div>

            <div class="widget already_login">
                <a href="{{ path('user_login') }}"> {{ 'tempo.security.resetting.already_login'|trans }} </a>
            </div>
        </form>
    </div>
{% endblock subcontent %}
