{% extends "TempoAppBundle::layout.html.twig" %}

{% block bodyClass %}user notification{% endblock %}

{% block container %}

    <div class="head">
        {% block breadcrumb %}
            <ol id="breadcrumb" class="clearfix">
                <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans }}</a> </li>
                <li class="last"> <a href="{{ path('user_profile_edit') }}">{{ 'tempo.notifcation.title'|trans }}</a> </li>
            </ol>
        {% endblock breadcrumb %}
    </div>

    {% include "TempoAppBundle:Profile:_tabs.html.twig" %}
    <div class="page-header">
        <h1>{{ 'tempo.notifcation.title'|trans }}</h1>
    </div>
    <div class="col-md-10">
        <div class="app-panel ">
            <div class="head">
                <a class="pull-right" href="{{ path('notification_clear') }}">{{ 'tempo.notification.mark_everything_as_read'|trans }}</a>
            </div>
            <nav>
                <ul class="nav nav-tabs clearbox">
                    <li class="first active">
                        <a href="{{ path('notification_dashboard') }}">{{ 'tempo.notification.unread'|trans }}</a>
                    </li>
                    <li class="last">
                        <a href="{{ path('notification_dashboard',{ 'all' : 1 }) }}">{{ 'tempo.notification.all'|trans }}</a>
                    </li>
                </ul>
            </nav>
            <table class="table">
                {% for notification in notifications %}
                <tr>
                    <td>{{ notification.createdAt|localizeddate('medium', 'none', app.request.locale) }}</td>
                    <td>
                        <a href="{{ link_notification(notification) }}">
                            {{ read_notification(notification) }}
                        </a>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td>{{ 'tempo.notification.no_notification'|trans }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
        <div style="width: 250px; margin: auto;">
            {{ pagerfanta(notifications, 'twitter_bootstrap3') }}
        </div>

        </div>
    </div>
{% endblock container %}