{% extends 'TempoMainBundle::Layout/web.html.twig' %}
{% block bodyClass %}backend admin dashboard {% endblock %}
{% block container %}
    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('project_home') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li> <a href="{{ path('backend') }}">{{ 'tempo.menu.admin'|trans  }}</a> </li>
            <li class="last"> Dashboard </li>
        </ol>
    {% endblock breadcrumb %}
    <div class="container-fluid">
        <div class="admin-menu col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('backend_user_index') }}">Users</a></li>
                <li><a href="{{ path('backend_configuration_generale') }}">Settings</a></li>
            </ul>
        </div>
        <div class="admin-dashboard col-md-9">
            <h3 class="page-title">
                Admin area
            </h3>
            <p class="light">
                You can manage projects, users and other Tempo data from here.
            </p>

            <div class="fluid-panel">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="app-panel">
                            <h4>Organization</h4>
                            <div class="data">
                                <a href="/admin/projects"><h1>{{ nbOrganizations }}</h1>
                                </a><hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="app-panel">
                            <h4>Projects</h4>
                            <div class="data">
                                <a href="/admin/groups"><h1>{{ nbProjects }}</h1>
                                </a><hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="app-panel">
                            <h4>Users</h4>
                            <div class="data">
                                <a href="/admin/users"><h1>{{ nbUsers }}</h1>
                                </a><hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="app-panel">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <div class=" app-panel">
                        <h4>Plugins</h4>
                        <hr />
                    </div>

                </div>
                <div class="col-md-4">
                    <div class=" app-panel">
                        <h4>Components</h4>
                        <hr>
                        <p> Tempo <span class="pull-right"> {{ constant('\Tempo\\Bundle\\CoreBundle\\Kernel\\Kernel::VERSION') }}</span>
                        </p>

                        <p> PHP <span class="pull-right"> {{ constant('PHP_VERSION') }} </span>
                        </p>
                        <p> Symfony <span class="pull-right"> {{ constant('\Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} </span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
