{% extends "TempoAppBundle::layout.html.twig" %}
{% block bodyClass %}admin admin settings project{% endblock %}

{% block container %}

    {% block breadcrumb %}
        <ol id="breadcrumb" class="clearfix">
            <li class="first"> <a href="{{ path('homepage') }}">{{ 'tempo.menu.home'|trans  }}</a> </li>
            <li> <a href="{{ path('admin') }}">{{ 'tempo.menu.admin'|trans  }}</a> </li>
            <li><a href="{{ path('admin_configuration_general') }}">{{ 'tempo.admin.menu.settings'|trans }}</a></li>
            <li class="last"> {{ 'tempo.menu.project'|trans }} </li>
        </ol>
    {% endblock breadcrumb %}

    <div class="col-md-2">
        {{ knp_menu_render('admin') }}
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>{{ 'tempo.project.settings'|trans }}</h1>
        </div>
        <div class="app-panel">
            <form class="form-block" method="post" action="{{ path('admin_configuration_project') }}">
                {{ form_errors(form) }}
                <div id="settings">
                    {{ form_row(form.right_create_orga) }}
                    {{ form_row(form.week) }}
                    {{ form_rest(form) }}
                </div>

                <input type="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>

{% endblock %}